name: Release Toolkit

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d50f8ea76748df49594d9b109b614f3b4db63c71
        with:
          fetch-depth: 0
          token: ${{ secrets.REPO_ACCESS }}

      - name: Update versions
        shell: bash
        run: |
          LAST_TAG=$(git describe --abbrev=0 --tags)
          find .github/workflows/toolkit-*.yml | while read -r a; do
              sed -i "s#@${LAST_TAG}#@${{ github.event.inputs.version }}#g" $a;
              sed -i "s#action-sha: \"${LAST_TAG}\"#action-sha: \"${{ github.event.inputs.version }}\"#g" $a;
          done

      - name: Generate Changelog
        uses: ckotzbauer/changelog-generator@c1bb26c7a2e8fa9e8cccffc1ceba85dacbd1797a
        with:
          release-version: ${{ github.event.inputs.version }}
          github-handle: ${{ github.repository }}
          commit-output: commits.md

      - name: Push release
        uses: ckotzbauer/actions-toolkit/push-release@0.9.0
        with:
          version: ${{ github.event.inputs.version }}
          pat: ${{ secrets.REPO_ACCESS }}
          prerelease: ${{ contains(github.event.inputs.version, 'alpha') || contains(github.event.inputs.version, 'beta') || contains(github.event.inputs.version, 'rc') }}
