name: Release Toolkit

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3ba5ee6fac7e0e30e2ea884e236f282d3a775891
        with:
          fetch-depth: 0
          token: ${{ secrets.REPO_ACCESS }}

      - name: Update versions
        shell: bash
        run: |
          LAST_TAG=$(git describe --abbrev=0 --tags)
          find .github/workflows/toolkit-*.yml | while read -r a; do
              sed -i "s#@${LAST_TAG}#@${{ github.event.inputs.version }}#g" $a;
              sed -i "s#action-sha: \"${LAST_TAG}\"#action-sha: \"${{ github.event.inputs.version }}\"#g" $a;
          done
          sed -i "s#@${LAST_TAG}#@${{ github.event.inputs.version }}#g" .github/workflows/release-toolkit.yml;

      - name: Generate Changelog
        uses: ckotzbauer/changelog-generator@62468a1abaa53a2fc45f83e61a1e8d57b6aa1936
        with:
          release-version: ${{ github.event.inputs.version }}
          github-handle: ${{ github.repository }}
          commit-output: commits.md

      - name: Push release
        uses: ckotzbauer/actions-toolkit/push-release@0.28.0
        with:
          version: ${{ github.event.inputs.version }}
          pat: ${{ secrets.REPO_ACCESS }}
          prerelease: ${{ contains(github.event.inputs.version, 'alpha') || contains(github.event.inputs.version, 'beta') || contains(github.event.inputs.version, 'rc') }}
