name: test-action

on:
  push:

jobs:
  test-action:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - sbom
    steps:
    - uses: actions/checkout@40a16ebeed7da831425b665e600750cb36b38d06

    - uses: dorny/paths-filter@4067d885736b84de7c414f582ac45897079b0a78
      id: changes
      with:
        filters: |
          src:
            - "${{ matrix.module }}/**"
            - ".github/workflows/test-action.yml"

    - name: Setup Go
      if: steps.changes.outputs.src == 'true'
      uses: actions/setup-go@41c2024c46acfe1d0b8c9b7f20e28406983e553b
      with:
        go-version: 1.17

    - name: Setup act
      if: steps.changes.outputs.src == 'true'
      run: go install github.com/nektos/act@master
      shell: bash

    - name: Run test
      if: steps.changes.outputs.src == 'true'
      shell: bash
      run: |
        act \
          -W __tests__ \
          -j ${{ matrix.module }} \
          --bind \
          -s GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
          -s GHCR_PASSWORD=${{ secrets.GHCR_PASSWORD }} \
          -P ubuntu-latest=ghcr.io/catthehacker/ubuntu:act-latest
