name: test-action

on:
  push:

jobs:
  test-action:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - sbom
    steps:
    - uses: actions/checkout@96f53100ba2a5449eb71d2e6604bbcd94b9449b5

    - uses: dorny/paths-filter@4067d885736b84de7c414f582ac45897079b0a78
      id: changes
      with:
        filters: |
          src:
            - "${{ matrix.module }}/**"
            - ".github/workflows/test-action.yml"

    - name: Setup Go
      if: steps.changes.outputs.src == 'true'
      uses: actions/setup-go@992f0689006f912ae66668969f1fa6618fc53ebd
      with:
        go-version: 1.20

    - name: Setup act
      if: steps.changes.outputs.src == 'true'
      run: go install github.com/nektos/act@master
      shell: bash

    - name: Run test
      if: steps.changes.outputs.src == 'true'
      shell: bash
      run: |
        act \
          -W __tests__ \
          -j ${{ matrix.module }} \
          --bind \
          -s GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
          -s GHCR_PASSWORD=${{ secrets.GHCR_PASSWORD }} \
          -P ubuntu-latest=ghcr.io/catthehacker/ubuntu:act-latest
