name: Release Node.js

on:
  workflow_call:
    inputs:
      branch:
        required: false
        default: main
        type: string
      node-version:
        required: true
        type: string
      version:
        required: true
        type: string
      build-commands:
        required: true
        type: string
      artifact-path:
        required: false
        default: ""
        type: string
      docker-tags:
        required: false
        type: string
        default: ""
      docker-platforms:
        required: false
        default: linux/amd64
        type: string
      npm:
        required: false
        default: false
        type: boolean
      sign:
        required: false
        default: true
        type: boolean
      verify:
        required: false
        default: true
        type: boolean
      attest:
        required: false
        default: true
        type: boolean
      sbom:
        required: false
        default: true
        type: boolean
      cosign-repository:
        required: false
        default: ""
        type: string
    secrets:
      token:
        required: true
      pat:
        required: true
      ghcr-password:
        required: false
      dockerhub-user:
        required: false
      dockerhub-password:
        required: false
      npm-token:
        required: false

permissions:
  id-token: write
  contents: write
  packages: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - name: Checkout
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Setup Node
        uses: actions/setup-node@788c6ccbd0d6bddb637da16397c675d9e1c6f93c
        with:
          node-version: ${{ inputs.node-version }}

      - name: Setup Cosign
        if: ${{ inputs.sign == true }}
        uses: sigstore/cosign-installer@9becc617647dfa20ae7b1151972e9b3a2c338a2b
        with:
          cosign-release: 'v1.13.1'

      - name: Setup Syft
        uses: ckotzbauer/actions-toolkit/setup-syft@0.23.0

      # TODO: Verify base-image when Node.js images are signed

      - name: Bump version
        run: |
          jq --arg v ${{ inputs.version }} '.version = $v' package.json > tmp && mv tmp package.json
          jq --arg v ${{ inputs.version }} '.version = $v' package-lock.json > tmp && mv tmp package-lock.json

      - name: Build
        run: ${{ inputs.build-commands }}

      - name: Build and push image
        if: ${{ inputs.docker-tags != '' }}
        uses: ckotzbauer/actions-toolkit/docker@0.23.0
        with:
          ghcr-password: ${{ secrets.ghcr-password }}
          dockerhub-user: ${{ secrets.dockerhub-user }}
          dockerhub-password: ${{ secrets.dockerhub-password }}
          context: .
          push: true
          sign: ${{ inputs.sign }}
          verify: ${{ inputs.verify }}
          cosign-repository: ${{ inputs.cosign-repository }}
          platforms: ${{ inputs.docker-platforms }}
          tags: ${{ inputs.docker-tags }}

      - name: Generate SBOM
        if: ${{ inputs.sbom == true }}
        uses: ckotzbauer/actions-toolkit/sbom@0.23.0
        with:
          images: ${{ inputs.docker-tags }}
          scan-target: "file:package-lock.json"
          sign: ${{ inputs.sign }}
          verify: ${{ inputs.verify }}
          attest: ${{ inputs.attest }}
          cosign-repository: ${{ inputs.cosign-repository }}

      - name: Generate hashes
        shell: bash
        id: hash
        run: |
          cd ${{ inputs.artifact-path }}
          echo "::set-output name=hashes::$(find . -type f | xargs sha256sum | base64 -w0)"

      - name: Upload assets
        uses: actions/upload-artifact@v3
        with:
          retention-days: 1
          name: assets
          path: |
            ${{ inputs.artifact-path }}/
            oci-sbom.json*


  provenance:
    needs: [build]
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.2.1
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      compile-generator: true
      private-repo: true

  release:
    needs: [build, provenance]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Generate Changelog
        uses: ckotzbauer/changelog-generator@90d00034ce4ecb51eadef07d8e6d9a182b4eee13
        with:
          release-version: ${{ inputs.version }}
          github-handle: ${{ github.repository }}
          commit-output: commits.md

      - name: Download artifacts
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          path: output

      - name: Output
        run: |
          ls -R output

      - name: Publish NPM package
        if: ${{ inputs.npm == true }}
        uses: JS-DevTools/npm-publish@e42e3720bfe21259120218c19fdbfedcf72692bd
        with:
          token: ${{ secrets.npm-token }}
          access: "public"

      - name: Push release
        uses: ckotzbauer/actions-toolkit/push-release@0.23.0
        with:
          version: ${{ inputs.version }}
          branch: ${{ inputs.branch }}
          pat: ${{ secrets.pat }}
          prerelease: ${{ contains(inputs.version, 'alpha') || contains(inputs.version, 'beta') || contains(inputs.version, 'rc') }}
          files: |
            output/assets/oci-sbom.json*
            output/multiple.intoto.jsonl/multiple.intoto.jsonl
