name: Lint

on:
  workflow_call:
    inputs:
      install-go:
        required: false
        default: false
        type: boolean
      go-version:
        required: false
        default: "1.19.4"
        type: string
      install-node:
        required: false
        default: false
        type: boolean
      node-version:
        required: false
        default: 16
        type: string
      lint-commands:
        required: true
        type: string

permissions:
  contents: read
  packages: read
  actions: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3ba5ee6fac7e0e30e2ea884e236f282d3a775891

      - name: Setup Go
        if: ${{ inputs.install-go == true }}
        uses: actions/setup-go@1661eebbbd1c2e2f025f2e6e5de5f7a545f1e627
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Node
        if: ${{ inputs.install-node == true }}
        uses: actions/setup-node@c406543918243bdbe7b25799f6a378e753fed484
        with:
          node-version: ${{ inputs.node-version }}

      - name: Lint
        run: ${{ inputs.lint-commands }}
