name: Label issues

on:
  workflow_call:
    secrets:
      token:
        required: true

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  label-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - name: label
        uses: ckotzbauer/label-command-action@2113855f4b5d2b7caf612c54b04a37e50fe76528
        env:
          GITHUB_TOKEN: "${{ secrets.token }}"
