name: Lint

on:
  workflow_call:
    inputs:
      install-go:
        required: false
        default: false
        type: boolean
      go-version:
        required: false
        default: "1.19.4"
        type: string
      install-node:
        required: false
        default: false
        type: boolean
      node-version:
        required: false
        default: 16
        type: string
      lint-commands:
        required: true
        type: string

permissions:
  contents: read
  packages: read
  actions: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Setup Go
        if: ${{ inputs.install-go == true }}
        uses: actions/setup-go@a3d889c34c5d4e071b33595c5fe8edfcaaad8260
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Node
        if: ${{ inputs.install-node == true }}
        uses: actions/setup-node@3dbcda8bc2eb5ec6aa3fbde01feaae3236952db8
        with:
          node-version: ${{ inputs.node-version }}

      - name: Lint
        run: ${{ inputs.lint-commands }}
