name: Create default labels

on:
  workflow_call:
    secrets:
      token:
        required: true

jobs:
  create-default-labels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          manifest: .github/labels.yml
