name: Release GoReleaser

on:
  workflow_call:
    inputs:
      branch:
        required: false
        default: main
        type: string
      go-version:
        required: true
        type: string
      version:
        required: true
        type: string
      goreleaser-args:
        required: false
        type: string
      goreleaser-version:
        required: false
        type: string
        default: v1.9.2
      docker-tags:
        required: true
        type: string
      docker-platforms:
        required: false
        default: linux/amd64
        type: string
      sign:
        required: false
        default: true
        type: boolean
      verify:
        required: false
        default: true
        type: boolean
      attest:
        required: false
        default: true
        type: boolean
      sbom:
        required: false
        default: true
        type: boolean
      provenance:
        required: false
        default: true
        type: boolean
      cosign-repository:
        required: false
        default: ""
        type: string
    secrets:
      token:
        required: true
      pat:
        required: true
      ghcr-password:
        required: false
      dockerhub-user:
        required: false
      dockerhub-password:
        required: false

jobs:
  release:
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Setup Go
        uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Cosign
        if: ${{ inputs.sign == true }}
        uses: sigstore/cosign-installer@7e0881f8fe90b25e305bbf0309761e9314607e25

      - name: Setup Syft
        uses: ckotzbauer/actions-toolkit/setup-syft@0.15.0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@aab65f3702e0751a0a47d5314c618ed999a6fb5b
        with:
          version: ${{ inputs.goreleaser-version }}
          args: release --rm-dist ${{ inputs.goreleaser-args }}
        env:
          GORELEASER_CURRENT_TAG: ${{ inputs.version }}
          GITHUB_TOKEN: ${{ secrets.token }}
          COSIGN_EXPERIMENTAL: 1
          COSIGN_REPOSITORY: ${{ inputs.cosign-repository }}

      - name: Build and push image
        uses: ckotzbauer/actions-toolkit/docker@0.15.0
        with:
          ghcr-password: ${{ secrets.ghcr-password }}
          dockerhub-user: ${{ secrets.dockerhub-user }}
          dockerhub-password: ${{ secrets.dockerhub-password }}
          context: .
          push: true
          sign: ${{ inputs.sign }}
          verify: ${{ inputs.verify }}
          cosign-repository: ${{ inputs.cosign-repository }}
          platforms: ${{ inputs.docker-platforms }}
          tags: ${{ inputs.docker-tags }}

      - name: Generate SBOM
        if: ${{ inputs.sbom == true }}
        uses: ckotzbauer/actions-toolkit/sbom@0.15.0
        with:
          images: ${{ inputs.docker-tags }}
          sign: ${{ inputs.sign }}
          verify: ${{ inputs.verify }}
          attest: ${{ inputs.attest }}
          cosign-repository: ${{ inputs.cosign-repository }}

      - name: Generate Provenance
        if: ${{ inputs.provenance == true }}
        uses: ckotzbauer/actions-toolkit/slsa-provenance@0.15.0
        with:
          action-sha: "0.15.0"
          images: ${{ inputs.docker-tags }}
          artifact-path: dist/
          sign: ${{ inputs.sign }}
          verify: ${{ inputs.verify }}
          attest: ${{ inputs.attest }}
          cosign-repository: ${{ inputs.cosign-repository }}

      - name: Generate Changelog
        uses: ckotzbauer/changelog-generator@09e3baaafff6919f9ba569818f8d765687c08c2d
        with:
          release-version: ${{ inputs.version }}
          github-handle: ${{ github.repository }}
          commit-output: commits.md

      - name: Push release
        uses: ckotzbauer/actions-toolkit/push-release@0.15.0
        with:
          version: ${{ inputs.version }}
          branch: ${{ inputs.branch }}
          pat: ${{ secrets.pat }}
          prerelease: ${{ contains(inputs.version, 'alpha') || contains(inputs.version, 'beta') || contains(inputs.version, 'rc') }}
          files: |
            dist/*.tar.gz
            dist/*.zip
            dist/*.txt
            dist/*.sig
            dist/*.sbom
            dist/*.pem
            oci-sbom.json*
            provenance.json*
