name: Build and test

on:
  workflow_call:
    inputs:
      install-go:
        required: false
        default: false
        type: boolean
      go-version:
        required: false
        default: "1.21.6"
        type: string
      install-node:
        required: false
        default: false
        type: boolean
      node-version:
        required: false
        default: 20
        type: string
      install-dotnet:
        required: false
        default: false
        type: boolean
      dotnet-version:
        required: false
        default: "8.0.x"
        type: string
      install-goreleaser:
        required: false
        default: false
        type: boolean
      goreleaser-version:
        required: false
        type: string
        default: v1.23.0
      install-kubebuilder:
        required: false
        default: false
        type: boolean
      kubebuilder-version:
        required: false
        type: string
        default: 3.1.0
      install-kubectl:
        required: false
        default: false
        type: boolean
      kubectl-version:
        required: false
        type: string
        default: v1.29.0
      install-cosign:
        required: false
        default: false
        type: boolean
      install-awscli:
        required: false
        default: false
        type: boolean
      install-syft:
        required: false
        default: false
        type: boolean
      build-commands:
        required: false
        type: string
        default: ''
      test-commands:
        required: false
        type: string
        default: ''
      build-image:
        required: false
        default: false
        type: boolean
      docker-tag:
        required: false
        type: string
      docker-context:
        required: false
        default: "."
        type: string
      scan-image:
        required: false
        default: false
        type: boolean
      report-coverage:
        required: false
        default: false
        type: boolean
      coverage-file:
        required: false
        type: string
    secrets:
      encrypted-build-secrets:
        required: false
      encrypted-test-secrets:
        required: false

permissions:
  contents: read
  packages: read
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup Go
        if: ${{ inputs.install-go == true }}
        uses: actions/setup-go@6c1fd22b67f7a7c42ad9a45c0f4197434035e429
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Node
        if: ${{ inputs.install-node == true }}
        uses: actions/setup-node@d86ebcd40b3cb50b156bfa44dd277faf38282d12
        with:
          node-version: ${{ inputs.node-version }}

      - name: Setup Dotnet
        if: ${{ inputs.install-dotnet == true }}
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Setup Cosign
        if: ${{ inputs.install-cosign == true }}
        uses: sigstore/cosign-installer@e1523de7571e31dbe865fd2e80c5c7c23ae71eb4
        with:
          cosign-release: 'v2.2.3'

      - name: Setup GoReleaser
        if: ${{ inputs.install-goreleaser == true }}
        uses: goreleaser/goreleaser-action@d50b0c42eeed7b45ad20ecc8046a958047efe1d5
        with:
          version: ${{ inputs.goreleaser-version }}
          install-only: true

      - name: Setup Kubebuilder
        if: ${{ inputs.install-kubebuilder == true }}
        uses: RyanSiu1995/kubebuilder-action@7170cb0476187070ae04cbb6cee305e809de2693
        with:
          version: ${{ inputs.kubebuilder-version }}

      - name: Setup AWS CLI
        if: ${{ inputs.install-awscli == true }}
        uses: unfor19/install-aws-cli-action@27d6061dae5d39e89be4d2246824f15e111a7e06

      - name: Setup Kubectl
        if: ${{ inputs.install-kubectl == true }}
        uses: azure/setup-kubectl@v3.2
        with:
          version: ${{ inputs.kubectl-version }}

      - name: Setup Syft
        if: ${{ inputs.install-syft == true }}
        uses: ckotzbauer/actions-toolkit/setup-syft@0.38.0

      - name: Build
        if: ${{ inputs.build-commands != '' }}
        env:
          ENCRYPTED_BUILD_SECRETS: ${{ secrets.encrypted-build-secrets }}
        run: ${{ inputs.build-commands }}

      - name: Test
        if: ${{ inputs.test-commands != '' }}
        env:
          ENCRYPTED_TEST_SECRETS: ${{ secrets.encrypted-test-secrets }}
        run: ${{ inputs.test-commands }}

      - name: Report coverage
        uses: codecov/codecov-action@6ef7ea4c746b6a6025ef6fbb8dfeaa546bc46794
        if: ${{ inputs.report-coverage == true }}
        with:
          files: ${{ inputs.coverage-filt }}

      - name: Build image
        if: ${{ inputs.build-image == true }}
        uses: ckotzbauer/actions-toolkit/docker@0.38.0
        with:
          context: ${{ inputs.docker-context }}
          push: false
          load: true
          platforms: linux/amd64
          tags: |
            ${{ inputs.docker-tag }}

      - name: Scan image
        if: ${{ inputs.scan-image == true }}
        uses: ckotzbauer/actions-toolkit/grype@0.38.0
        with:
          scan-target: ${{ inputs.docker-tag }}
          fail-on: "medium"
          config-file: ".github/grype.yaml"
