name: scan-snyk

on:
  workflow_call:
    inputs:
      install-go:
        required: false
        default: false
        type: boolean
      go-version:
        required: false
        default: "1.18.0"
        type: string
      install-node:
        required: false
        default: false
        type: boolean
      node-version:
        required: false
        default: "16"
        type: string
      install-dotnet:
        required: false
        default: false
        type: boolean
      dotnet-version:
        required: false
        default: "6.0.x"
        type: string
      scan-commands:
        required: true
        type: string
    secrets:
      token:
        required: true

permissions:
  contents: read

jobs:
  scan-snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3ba5ee6fac7e0e30e2ea884e236f282d3a775891
      - name: Install Go
        if: ${{ inputs.install-go == true }}
        uses: actions/setup-go@17106403fa5e2516d58cbf6bf1314893d4351d78
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Node
        if: ${{ inputs.install-node == true }}
        uses: actions/setup-node@3e8819f8f297df8b29fc3e383683a29be2bf129a
        with:
          node-version: ${{ inputs.node-version }}

      - name: Setup Dotnet
        if: ${{ inputs.install-dotnet == true }}
        uses: actions/setup-dotnet@e94d154672eed1dc0378dd741190215be7c69c85
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - uses: snyk/actions/setup@1cc9026f51d822442cb4b872d8d7ead8cc69a018
      - name: Snyk monitor
        env:
          SNYK_TOKEN: ${{ secrets.token }}
        run: ${{ inputs.scan-commands }}
