name: Label issues

on:
  workflow_call:
    secrets:
      token:
        required: true

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  label-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - name: label
        uses: ckotzbauer/label-command-action@05ccb82b1a9ee5c2b7a97b988bf8ed735362dcd9
        env:
          GITHUB_TOKEN: "${{ secrets.token }}"
