name: Release GoReleaser

on:
  workflow_call:
    inputs:
      branch:
        required: false
        default: main
        type: string
      go-version:
        required: true
        type: string
      version:
        required: true
        type: string
      goreleaser-args:
        required: false
        type: string
        default: "--skip-validate"
      goreleaser-version:
        required: false
        type: string
        default: v1.18.2
      docker-tags:
        required: true
        type: string
      docker-platforms:
        required: false
        default: linux/amd64
        type: string
      sign:
        required: false
        default: true
        type: boolean
      verify:
        required: false
        default: true
        type: boolean
      attest:
        required: false
        default: true
        type: boolean
      sbom:
        required: false
        default: true
        type: boolean
      cosign-repository:
        required: false
        default: ""
        type: string
    secrets:
      token:
        required: true
      pat:
        required: true
      ghcr-password:
        required: false
      dockerhub-user:
        required: false
      dockerhub-password:
        required: false

permissions:
  id-token: write
  contents: write
  packages: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - name: Checkout
        uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Setup Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Cosign
        if: ${{ inputs.sign == true }}
        uses: sigstore/cosign-installer@84448ba515b2a5ac9853582a471184394c67631b
        with:
          cosign-release: 'v2.0.2'

      - name: Setup Syft
        uses: ckotzbauer/actions-toolkit/setup-syft@0.35.0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@37247345b4543dd6a3264d0a7a576b00c9d6ffb2
        with:
          version: ${{ inputs.goreleaser-version }}
          args: release --clean ${{ inputs.goreleaser-args }}
        env:
          GORELEASER_CURRENT_TAG: ${{ inputs.version }}
          GITHUB_TOKEN: ${{ secrets.token }}
          COSIGN_REPOSITORY: ${{ inputs.cosign-repository }}

      - name: Build and push image
        uses: ckotzbauer/actions-toolkit/docker@0.35.0
        with:
          ghcr-password: ${{ secrets.ghcr-password }}
          dockerhub-user: ${{ secrets.dockerhub-user }}
          dockerhub-password: ${{ secrets.dockerhub-password }}
          context: .
          push: true
          sign: ${{ inputs.sign }}
          verify: ${{ inputs.verify }}
          cosign-repository: ${{ inputs.cosign-repository }}
          platforms: ${{ inputs.docker-platforms }}
          tags: ${{ inputs.docker-tags }}

      - name: Generate SBOM
        if: ${{ inputs.sbom == true }}
        uses: ckotzbauer/actions-toolkit/sbom@0.35.0
        with:
          images: ${{ inputs.docker-tags }}
          sign: ${{ inputs.sign }}
          verify: ${{ inputs.verify }}
          attest: ${{ inputs.attest }}
          cosign-repository: ${{ inputs.cosign-repository }}

      - name: Generate hashes
        shell: bash
        id: hash
        run: |
          cd dist/
          echo "hashes=$(find . -type f | xargs sha256sum | base64 -w0)" >> $GITHUB_OUTPUT

      - name: Upload assets
        uses: actions/upload-artifact@65d862660abb392b8c4a3d1195a2108db131dd05
        with:
          retention-days: 1
          name: assets
          path: |
            dist/
            oci-sbom.json*

  provenance:
    needs: [build]
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.6.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      compile-generator: true
      private-repository: true

  release:
    needs: [build, provenance]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Generate Changelog
        uses: ckotzbauer/changelog-generator@a1b1497d5a7d6beec54f7642a650a1261cb00301
        with:
          release-version: ${{ inputs.version }}
          github-handle: ${{ github.repository }}
          commit-output: commits.md

      - name: Download artifacts
        uses: actions/download-artifact@e9ef242655d12993efdcda9058dee2db83a2cb9b
        with:
          path: output

      - name: Output
        run: |
          ls -R output

      - name: Push release
        uses: ckotzbauer/actions-toolkit/push-release@0.35.0
        with:
          version: ${{ inputs.version }}
          branch: ${{ inputs.branch }}
          pat: ${{ secrets.pat }}
          prerelease: ${{ contains(inputs.version, 'alpha') || contains(inputs.version, 'beta') || contains(inputs.version, 'rc') }}
          files: |
            output/assets/dist/*.tar.gz
            output/assets/dist/*.zip
            output/assets/dist/*.txt
            output/assets/dist/*.sig
            output/assets/dist/*.sbom
            output/assets/dist/*.pem
            output/assets/oci-sbom.json*
            output/multiple.intoto.jsonl/multiple.intoto.jsonl
