name: scan-snyk

on:
  workflow_call:
    inputs:
      install-go:
        required: false
        default: false
        type: boolean
      go-version:
        required: false
        default: "1.18.0"
        type: string
      install-node:
        required: false
        default: false
        type: boolean
      node-version:
        required: false
        default: "16"
        type: string
      install-dotnet:
        required: false
        default: false
        type: boolean
      dotnet-version:
        required: false
        default: "6.0.x"
        type: string
      scan-commands:
        required: true
        type: string
    secrets:
      token:
        required: true

permissions:
  contents: read

jobs:
  scan-snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Install Go
        if: ${{ inputs.install-go == true }}
        uses: actions/setup-go@a3d889c34c5d4e071b33595c5fe8edfcaaad8260
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Node
        if: ${{ inputs.install-node == true }}
        uses: actions/setup-node@7c29869aec4da703a571b27bcd84d4f15af0b56e
        with:
          node-version: ${{ inputs.node-version }}

      - name: Setup Dotnet
        if: ${{ inputs.install-dotnet == true }}
        uses: actions/setup-dotnet@926f4420227aaf87acf2840f360e4f2475f13b3b
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - uses: snyk/actions/setup@806182742461562b67788a64410098c9d9b96adb
      - name: Snyk monitor
        env:
          SNYK_TOKEN: ${{ secrets.token }}
        run: ${{ inputs.scan-commands }}
