name: Lint

on:
  workflow_call:
    inputs:
      install-go:
        required: false
        default: false
        type: boolean
      go-version:
        required: false
        default: "1.26"
        type: string
      install-node:
        required: false
        default: false
        type: boolean
      node-version:
        required: false
        default: 24
        type: string
      lint-commands:
        required: true
        type: string

permissions:
  contents: read
  packages: read
  actions: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2

      - name: Setup Go
        if: ${{ inputs.install-go == true }}
        uses: ckotzbauer/actions-toolkit/setup-go@0.51.0
        with:
          version: ${{ inputs.go-version }}

      - name: Setup Node
        if: ${{ inputs.install-node == true }}
        uses: ckotzbauer/actions-toolkit/setup-nodejs@0.51.0
        with:
          version: ${{ inputs.node-version }}

      - name: Lint
        run: ${{ inputs.lint-commands }}
