name: Release Node.js

on:
  workflow_call:
    inputs:
      branch:
        required: false
        default: main
        type: string
      node-version:
        required: true
        type: string
      version:
        required: true
        type: string
      build-commands:
        required: true
        type: string
      artifact-path:
        required: false
        default: ""
        type: string
      docker-tags:
        required: false
        type: string
        default: ""
      docker-platforms:
        required: false
        default: linux/amd64
        type: string
      npm:
        required: false
        default: false
        type: boolean
      sign:
        required: false
        default: true
        type: boolean
      attest:
        required: false
        default: true
        type: boolean
      sbom:
        required: false
        default: true
        type: boolean
      provenance:
        required: false
        default: true
        type: boolean
      cosign-repository:
        required: false
        default: ""
        type: string
    secrets:
      token:
        required: true
      pat:
        required: true
      ghcr-password:
        required: false
      dockerhub-user:
        required: false
      dockerhub-password:
        required: false
      npm-token:
        required: false

jobs:
  release:
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Setup Node
        uses: actions/setup-node@f099707f6e7a91b89cdebdeca599fc76cc8bf088
        with:
          node-version: ${{ inputs.node-version }}

      - name: Setup Cosign
        if: ${{ inputs.sign == true }}
        uses: sigstore/cosign-installer@51f8e5c6fce54e46006ae97d73b2b6315f518752

      - name: Setup Syft
        uses: anchore/sbom-action/download-syft@3626d7d7b13e87ee6c6f9ded3940dea05a3967bc

      # TODO: Verify base-image when Node.js images are signed

      - name: Bump version
        run: |
          jq --arg v ${{ inputs.version }} '.version = $v' package.json > tmp && mv tmp package.json
          jq --arg v ${{ inputs.version }} '.version = $v' package-lock.json > tmp && mv tmp package-lock.json

      - name: Build
        run: ${{ inputs.build-commands }}

      - name: Build and push image
        if: ${{ inputs.docker-tags != '' }}
        uses: ckotzbauer/actions-toolkit/docker@0.5.0
        with:
          ghcr-password: ${{ secrets.ghcr-password }}
          dockerhub-user: ${{ secrets.dockerhub-user }}
          dockerhub-password: ${{ secrets.dockerhub-password }}
          context: .
          push: true
          sign: ${{ inputs.sign }}
          cosign-repository: ${{ inputs.cosign-repository }}
          platforms: ${{ inputs.docker-platforms }}
          tags: ${{ inputs.docker-tags }}

      - name: Generate SBOM
        if: ${{ inputs.sbom == true }}
        uses: ckotzbauer/actions-toolkit/sbom@0.5.0
        with:
          images: ${{ inputs.docker-tags }}
          scan-target: "file:package-lock.json"
          sign: ${{ inputs.sign }}
          attest: ${{ inputs.attest }}
          cosign-repository: ${{ inputs.cosign-repository }}

      - name: Generate Provenance
        if: ${{ inputs.provenance == true }}
        uses: ckotzbauer/actions-toolkit/slsa-provenance@0.5.0
        with:
          action-sha: "0.5.0"
          images: ${{ inputs.docker-tags }}
          artifact-path: ${{ inputs.artifact-path }}
          sign: ${{ inputs.sign }}
          attest: ${{ inputs.attest }}
          cosign-repository: ${{ inputs.cosign-repository }}

      - name: Generate Changelog
        uses: ckotzbauer/changelog-generator@b3b9ef90153ede584ceded8c4bf9e58a5d07e68e
        with:
          release-version: ${{ inputs.version }}
          github-handle: ${{ github.repository }}
          commit-output: commits.md

      - name: Publish NPM package
        if: ${{ inputs.npm == true }}
        uses: JS-DevTools/npm-publish@0f451a94170d1699fd50710966d48fb26194d939
        with:
          token: ${{ secrets.npm-token }}
          access: "public"

      - name: Push release
        uses: ckotzbauer/actions-toolkit/push-release@0.5.0
        with:
          version: ${{ inputs.version }}
          branch: ${{ inputs.branch }}
          pat: ${{ secrets.pat }}
          prerelease: ${{ contains(inputs.version, 'alpha') || contains(inputs.version, 'beta') || contains(inputs.version, 'rc') }}
          files: |
            oci-sbom.json*
            provenance.json*
